@media(max-width:1244px)
{
    .box .bg-quots
{
    width: 65%;
    left: 17%;
}
}
@media(max-width:839px)
{
    .icon-media .icon1
{
    cursor: pointer;
    width:40px;
    margin-right:10px;
    height: 40px;
}
.buttonQuote
{
    width: 30%;
}
}
@media(max-width:681px)
{
    .box .bg-quots
    {
        width: 75%;
        top: 10%;
        left: 13%;
    }
    .row
    {
        flex-direction: column-reverse;
    }
    .buttonQuote
{
    width: 100%;
    margin-bottom: 10px;
}
.icon-media
{
    width: 100%;
    justify-content: center;
}
}
@media(max-width:573px)
{
    .box .bg-quots
    {
        width: 85%;
        top: 13%;
        left: 7%;
    }
}
@media(max-width:508px)
{
    .box .bg-quots
    {
        width: 90%;
        top: 6%;
        left: 5%;
    }
}
@media(max-width:376px)
{
    .box .bg-quots
    {
        width: 95%;
        left: 2.5%;
    }
    .title
    {
        padding-top: 35px;
    }
    .txtBox
{
    width: 80%;
    margin:25px auto 0 auto;
    position: relative;
}
.row
{
    margin:30px auto 0 auto;
}
}